[user]
email = 865233+bstrie@users.noreply.github.com
name = bstrie

[core]
pager = delta

[alias]
last = log -1 HEAD

[pull]
ff = only

[github]
user = bstrie

[delta]
navigate = true
plus-style = syntax "#003800"
